@font-face {
    font-family: JetBrainsMono;
    src: url(fonts/ttf/JetBrainsMono-Bold.ttf);

}
h1 {
    font-family: JetBrainsMono;
    text-align: center;
    color: white;
}
p {
    font-family: JetBrainsMono;
    text-align: center;
    color: white;
}

h2 {
    font-family: JetBrainsMono;
    text-align: center;
    color: white;
}

.GradientClass {
    background: rgb(12,63,175);
    background: linear-gradient(90deg, rgba(12,63,175,1) 0%, rgba(0,188,217,1) 100%); 
}

.DescClass {
    font-family: JetBrainsMono;
    text-align: center;
    padding: 25px;
    margin: 10px auto 0px auto;
    display: table;

    /* other styling */
    background-color: #33475b;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: white;
}

.ProjectClass {
    font-family: JetBrainsMono;
    text-align: center;
    padding: 5px;
    margin: 10px auto 0px auto;
    display: table;
    /* other styling */
    background-color: #33475b;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    color: white;
}


img {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 70px;
    /* Other Styling */
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 10px;
    /* styling */
    background-color: rgb(36, 49, 56);
    border-radius: 6px;
    border-style: none;
  }

.projectbutton {
    /* Styling */
    background-color: #00bcd9;
    box-shadow: 0px 0px 20px 5px #00bcd9;
    border-radius: 10px;
    border-color: rgb(36, 49, 56);
    border-style: solid;
    display: table;
    padding: 15px 32px;
    margin: 40px auto 0px auto;
    /* text */
    color: white;
    font-family: JetBrainsMono;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
}
.sprojectbutton {
    /* Styling */
    background-color: #00bcd9;
    box-shadow: 0px 0px 20px 5px #00bcd9;
    border-radius: 10px;
    border-color: rgb(36, 49, 56);
    border-style: solid;
    display: inline-block;
    padding: 15px 32px;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0px;
    /* text */
    color: white;
    font-family: JetBrainsMono;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
}

.downbutton {
    /* Styling */
    background-color: #000ed9;
    box-shadow: 0px 0px 10px 5px #000ed9;
    border-radius: 10px;
    border-color: rgba(36, 49, 56, 0);
    border-style: solid;
    display: table;
    padding: 15px 32px;
    margin: 40px auto 0px auto;
    position: relative;
    /* text */
    color: white;
    font-family: JetBrainsMono;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
}

.projectbutton:hover {
    background-color: #00a5be;
    box-shadow: 0px 0px;
}

.projectbutton:active {
    top: 1px;
}

.downbutton:hover {
    background-color: #1822ac;
    box-shadow: 0px 0px;
    border-color: rgb(36, 49, 56);
    border-style: solid;
}

.downbutton:active {
    top: 1px;
}

.sprojectbutton:hover {
    background-color: #00a5be;
    box-shadow: 0px 0px
}

.sprojectbutton:active {
    top: 1px;
}

.container {
    text-align: center;
}

.dcontainer {
    background-color: #33475b9f;
    font-family: JetBrainsMono;
    margin: 10px auto 0px auto;
    padding: 25px;
    display: inline-block;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0px;
}

.socialsfa {
    color: white;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    transition-duration: 0.4s;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}
.instagramfa {
    background: linear-gradient(60deg, #FFDC80 10%, #FCAF45 20%, #F77737 30%, #F56040 35%, #FD1D1D 40%, #E1306C 50%, #C13584 60%, #833AB4 70%, #5B51D8 80%, #405DE6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    transition-duration: 0.4s;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    transition-duration: 1s;
}

.socialsfa:hover {
    color: rgb(0, 0, 0);
}

.instagramfa:hover {
    background: #000000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.credits {
    justify-content: space-between; 
    display: flex; 
    font-size: 12px;
    margin-top: 50px;
}